<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page Prof</title>
    <!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="/stylesheets/login.css">-->
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>

    <div class="col-md-offset-2 col-md-8 well well-lg margin_top">
        <h2 class="te"> Professeur : Jeremy Trufier</h2>

        <h2>Liste des élèves : </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>lien</th>
            </tr>
            </thead>
            <tbody>
            <tré>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td><a class="glyphicon glyphicon-arrow-right" href="http://google.com"></a></td>
            </tré>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td><a class="glyphicon glyphicon-arrow-right" href="http://google.com"></a></td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td><a class="glyphicon glyphicon-arrow-right" href="http://google.com"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>