doctype html
head
    meta(charset='UTF-8')
    title hyperplanning - register
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')
.well.well-sm.col-xs-offset-4.col-xs-6.margin_top
    h1.text-center Login
    form(action='/users', method='post')
        .row
            .col-md-offset-2.col-md-8
                .form-group
                    label(for='Email') username
                    input#email.form-control(type='text', placeholder='username')
        .row
            .col-md-offset-2.col-md-8
                .form-group
                    label(for='Password') Mot de passe
                    input#password.form-control(type='password', placeholder='Mot de passe')
        .row
            .col-md-offset-5.col-md-2
                button.btn.btn-primary(type='submit') S&apos;enegistrer
