doctype html
head
    meta(charset='UTF-8')
    title hyperplanning - Prof
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')
.col-md-offset-2.col-md-8.well.well-lg.margin_top
    h2.te  Professeur : #{prof}
    .row
        .col-md-offset-5.col-md-2
            a(href='/disconnect')
                button.btn.btn-primary Déconnexion
    h2 Liste des &eacute;l&egrave;ves :
    table.table.table-striped
        thead
            tr
                th Firstname
                th Lastname
                th Ajouter une note
        tbody
            each val in users
                tr
                    td= val.nom
                    td= val.prenom
                    td
                        a.glyphicon.glyphicon-arrow-right(href='/teachers/add_grades/'+val.id)