html
    head
        title LOGIN
    body
        form.form-inline(action="/login", method="POST")
            div.form-group
                label(for="username") USERNAME:
                input.form-control(name="username" placeholder="write your username here")
            div.form-group
                label(for="password") PASSWORD:
                input.form-control(type='password' name="password" placeholder="write your password here")
            div
                button.btn-primary(type="submit") Login
    a(href="/users/register") Register