doctype html
head
    meta(charset='UTF-8')
    title hyperplanning - login
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
.well.well-sm.col-xs-offset-4.col-xs-6.margin_top
    h1.text-center Login
    form(action='/login', method='post')
        .row
            .col-md-offset-2.col-md-8
                .form-group
                    label(for='Email') Email address
                    input#email.form-control(type='text', placeholder='Enter email')
        .row
            .col-md-offset-2.col-md-8
                .form-group
                    label(for='Password') Mot de passe
                    input#password.form-control(type='password', placeholder='Mot de passe')
        .row
            .col-md-offset-5.col-md-2
                button.btn.btn-primary(type='submit') Se connecter
        br
        .row
            .col-md-offset-5.col-md-2
                a(href='/register')
                    button.btn.btn-primary Se connecter
